<div class="container">
  <h1>Pets Found</h1>
  <div class="cards">
    <% @pets.each do |pet| %>
      <div class="card-product">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
        <div class="card-product-infos">
          <h2><%= link_to pet.name, pet_path(pet) %></h2>
          <p><%= pet.species %></p>
          <p><%= pet.address %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>